body {
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
}

.one, .footer {
    background-color: #1F2937;
}

.hero h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.header {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
}

.header p {
    font-size: 24px;
    color: #F9FAF8;
}

.four div, button {
    background-color: #3882F6;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.four {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    padding: 100px
}

.three {
    background-color: #E5E7EB;
}

.one {
    padding: 0px 100px 100px 100px;
}

.two img, .two p {
    max-width: 150px;
}


.hero img {
    max-height: 300px;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.hero div {
    max-width: 400px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 60%;
}

.two {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

.footer{
    color: white;
}